//base-font-family
$base-ff: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;

// used in main left layout
$top-gap:5px;

// main mid status button
$statusBtnActive-bgColor:#A8AAB1;
$whiteFont:#fff;

// main mid list active color
$taskListActiveColor:#FbFbFb;
$taskDoneGreen:#4D6A55;



// modal size
$modal-width:335px;
$modal-height:195px;
$modal-padding:15px;

//background-color
$bgcolor:#636363;
$boxshadow: 0 2px 4px rgba(0, 0, 0, 0.5);
$shadow:1px 0 3px rgba(0, 0, 0, 0.35);